<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ehConnectionString" value="Endpoint=sb://dronetelemetry.servicebus.windows.net/;SharedAccessKeyName=dronepolicies;SharedAccessKey=Yy0sE4vvEFivaEQP2lvv6KSS0z+84LQOQ47H/AUxYk0=" />
  </appSettings>
</configuration>